<suite name= "Personal Project" verbose="2" parallel="tests" thread-count="2">
<listeners>
<listener class-name="commonfunctions.CustomListeners"></listener>
</listeners>
<groups>
<run>
<include name="UAT"></include>
<!-- <exclude></exclude>   supports this func also-->
<exclude name="Regression"></exclude>
</run>
</groups>
<parameter name="Name" value="Solomon"></parameter>

<test name = "TC001">
<parameter name="Name" value="Solo"></parameter>
<classes>
<class name ="testCases.TC001"></class>
</classes>
</test>

<test name = "TC002">
<classes>
<class name ="testCases.TC002"></class>
</classes>
</test>

<test name = "TC003">
<classes>
<class name ="testCases.TC003"></class>
</classes>
</test>


</suite>